@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Ranyth.ttf') format('truetype');
  font-weight: 400; /* This font only has normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blackentina';
  src: url('/fonts/Blackentina 4F-Italic.ttf') format('truetype');
  font-weight: 400; /* Assuming it only has normal weight */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basically';
  src: url('/fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}